<%-include('partials/header',{title: 'Dashboard',stylesheet:'/css/styles.css'});-%>
<div class="form-padded dashboard-info">
 <h2>Dashboard</h2>
 <p>Welcome <%= user.email %></p>
 <p>Email:<%= user.name %></p>
 <p>Role:User</p>
 </div>

<%-include('partials/footer');-%>